@media only screen and (min-width: 768px) and (max-width: 1023.9px) {

  nav {
    color: #4152a1;
  }
  
  .tablet {
    background-color: #ececec;
    background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
  }

  #show-form:hover {
    color:#4152a1b3;
    transition: 0.3s;
  }
}
