nav {
  background: 
  #4056A1;
  color: #fff;
  height: 120px;
  padding: 1.5em; 
  display: flex;
  width: 100%;
  top: 0;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.nav-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-angles-down {
  color: #c94642;
}

#bouncing-nav-arrow {
  position: absolute;
  animation: bounce 2s linear infinite;
}

.nav-right {
  cursor: pointer;
}

#show-form:hover {
  color:#ecececb3;
  transition: 0.3s;
}

#logo {
  font-family: 'Bungee', sans-serif;
  font-size: 40px;
}

@keyframes bounce {
  0%   { transform: translateY(23px); }
  50%  { transform: translateY(28px); }
  100% { transform: translateY(23px); }
}
