.form-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  font-family: 'Bungee', sans-serif;
  font-size: 20px;
}

.user-handle {
  margin-left: auto;
  color: #b0b7cf;
}

.count-exceeded {
  color: #c94642;
}

.within-count {
  color: #555249;
}

.error {
  display: none;
  color: #C94642;
  background-color: #f4dad9;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
  background-repeat: no-repeat;
  background-position: 10px;
  border: 1px solid #C94642;
  margin: 10px 0px;
  padding: 10px 10px 10px 50px;
}

article.tweet {
  margin-top: 2em;
  padding: 10px;
  border: 0.15rem solid #555249;
  display: flex;
  flex-direction: column;
}

article.tweet:hover {
  box-shadow: 5px 5px 2px 1px rgba(88, 96, 147, .2);
}

article.tweet header {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 3em;
  padding-right: 20px;
}

article.tweet p {
  padding: 0px 20px;
  font-weight: bold;
  overflow-wrap: break-word;
}

article.tweet footer {
  border-top: 0.15rem solid #555249;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
}

article.tweet img {
  max-height: 2em;
  padding-right: 10px;
}

article.tweet i.fa-solid {
  color: #4152a1;
  padding-left: 10px;
    /*chose padding instead of margin so that cursor stays on in hover*/
}

article.tweet i.fa-solid:hover {
  color: #c99827;
  cursor: pointer;
}

#tweet-label {
  pointer-events: none;
  font-weight: bold;
}

#tweet-text {
  background-color: transparent;
  border: none;
  color: #242423;
  font-size: 18px;
  border-bottom: 0.15rem solid #555249;
}


#submit-btn {
  background-color: #4152a1;
  color: #fff;
  border: none;
  padding: 7px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

#new-tweet {
  display: none;
}

